			<ul>
			  <li class=<%=@menu[:main]%>><%= link_to t(:main), "/" %></li>				
				<li class=<%=@menu[:feedback]%>><%= link_to t(:feedback), new_feedback_path %></li>
				<li class=<%=@menu[:about]%>><%= link_to t(:about),"/about"%></li>
				<li class=<%=@menu[:jobs]%>><%= link_to t(:jobs), "/jobs" %></li>		
			</ul>	
			
			
