<ul>
	<li<%=list_class("start")%>><%= link_to t(:main), "/" %></li>				
	<li<%=list_class("new")%>><%= link_to t(:feedback), new_feedback_path %></li>
	<li<%=list_class("about")%>><%= link_to t(:about),"/about"%></li>
	<li<%=list_class("jobs")%>><%= link_to t(:jobs), "/jobs" %></li>		
</ul>	
			
			
