<div class="center_content">
<div class="center_left">

	<div class="title_welcome">
		<span class="orange">
				FREE
		</span>	<%=t :start_page %>
</div>

<div class="welcome_box">
	<p class="welcome">
		<span class="red">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit<br />
		</span>
		Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
	</p>
		<%= link_to "read more",new_feedback_path,:class=>"read_more"%>
</div>

<div class="features">
	<div class="title">Main feature</div>
			<ul class="list">		
					<li><span>1</span><%= link_to "Lorem ipsum dolor sit amet, consectetur adipisicing elit","#"%></li>
			</ul>
</div>
<div class="features">   
            <div class="title">Latest News</div>
                <div class="news_box">
                    <div class="news_icon"></div>
                    <div class="news_content">
                    “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </div>   
                </div>
                <div class="news_box">
                    <div class="news_icon"></div>
                    <div class="news_content">
                    “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </div>   
                </div>       

</div> 
</div>

<div class="center_right">

		<%= image_tag("3dbox.gif",:alt=>"software_box",:class=>"software_box")%>

<div class="text_box">
	<div class="title">Clients login</div>
		<div class="login_form_row">
                            <label class="login_label">Username:</label><input type="text" name="name" class="login_input" />
                            </div>
                            
                            <div class="login_form_row">
                            <label class="login_label">Password:</label><input type="password" name="pass" class="login_input" />
                            </div>   
      
		<%= image_tag("login.gif",:alt=>"software_box",:class=>"login")%>
	</div>

 <div class="testimonials">
                        	<div class="title">Testimonials</div>
                            <div class="text_box">
                             <p class="testimonial">
                             “Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam”<br />
                             <strong>Edward Caloryd</strong>
                             
                             </p>
                            
                            
                            </div>                    
                        
                        </div>

			</div>
    <div class="clear"></div> 
</div>

 <div id="footer">                                              
        <div class="left_footer"><%= link_to t(:main), "/" %> <%= link_to t(:about),"/about", :method=>:get%> <%= link_to t(:our_contacts),"/contacts", :method=>:get%><%= link_to t(:feedback), new_feedback_path %></div>
        <div class="right_footer">
			<%= image_tag("csstemplatesmarket.gif",:alt=>"csstemplatesmarket")%>
        </div>   
    
    </div>





