<!DOCTYPE html>
<html>
<head>
  <title>Site</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js" %>
<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main_container">
	<div id="header">
		<%= image_tag("logo.gif",:alt=>"Logo",:class=>"logo")%>
		
		<div class="menu">
			<ul>
				<li><%= link_to t(:main), "/" %></li>				
				<li><%= link_to t(:feedback), new_feedback_path %></li>
				<li><%= link_to t(:about),"/about", :method=>:get%></li>
				<li><%= link_to t(:jobs), "/jobs", :method=>:get %></li>
			</ul>
		</div>
	</div>
	<section>
	
		<%= yield %>
		
	</section>

	 <div id="footer">                                              
        <div class="left_footer"><%= link_to t(:main), "/" %> <%= link_to t(:about),"/about", :method=>:get%> <%= link_to t(:feedback), new_feedback_path %></div>
        <div class="right_footer">
			<%= image_tag("csstemplatesmarket.gif",:alt=>"csstemplatesmarket")%>
        </div>   
    
    </div>
	</div>
</body>
</html>
