<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  
	<%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js" %>
<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main_container">
	<div id="header">
		<%= image_tag("logo.gif",:alt=>"Logo",:class=>"logo")%>
		
		<div class="menu">
			<%= render 'menu' %>
		</div>
	</div>
	<section>
	
		<%= yield %>
		
	</section>

	 	<div id="footer">                                              
    	</div>
	</div>
</body>
</html>
